.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}

.logo {
  width: 80%;
  margin-right: auto; 
}

.navElement {
  display: flex;
  width: 32%;
  justify-content: space-between;
}

.navElement span {
  color: #222222;
}

.navElement span.active {
  color: #7F9AED;
}

.navElement a {
  text-decoration: none; 
  color: #222222;
  font-size: 16px; 
  font-weight: 700;
  &:hover span{
    color: #7F9AED;
  }
}


