.ExchangeRatio {
    display: flex;
    flex-direction: column;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upperSideContents {
    display: flex;
    margin-top: 1%;
    width: 80%;
    // justify-content: space-between;
  }

.helpCheckBox {
    margin-left: 10px;
    position: relative;
}

.helpcontents {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.checkImg {
    cursor: pointer;
    width: 120px;
}
  
  .goalContents {
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  
.alarmPlus {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: relative;
    width: 100%;
    height: 150px;
    padding-bottom: 30px;
  }


  .planeImg {
    position: absolute;
    bottom: 0px; 
    left: 400px; 
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 100000;
}

.planeAnimate {
    animation: flyAcross 5s forwards;
    opacity: 1;
}

@keyframes flyAcross {
    0% {
        transform: translate(0, 0) scale(1); /* 초기 크기를 1로 수정 */
        opacity: 1;
    }
    40% {
        transform: translate(30vw, -15vh) scale(1.2); 
        opacity: 1; 
    }
    80% {
        transform: translate(80vw, -20vh) scale(1.5); 
        opacity: 1; 
    }
    100% {
        transform: translate(100vw, 0) scale(1); 
        opacity: 1; 
    }
}





  .alarmPlus p {
    margin-top: -5px;
    font-weight: bold;
  }


.plusImage {
    width: 70px;
    cursor: pointer;
}

.alertAddText {
    font-size: 15px;
    padding-top: 10px;
    opacity: 90%;
}


@keyframes clickEffect {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}


.upperSideInnerSelectCountry {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50px;
    border: 3px solid #7F9BED;
    font-size: 17px;
    margin-right: 15%;
    width: 200px;
    height: 40px;
    min-width: 250px;
    position: relative;
}



.upper-side-contents {
    display: flex;

}

.helpDialogue {
    font-weight: bold;
    font-size: 15px;
    opacity: 80%;
}

.goalSetting{
    font-weight: bolder;
    font-size: 40px;
}

.alarm-plus p {
    font-weight: bold;
    font-size: 30px;

}

.helpCheckBox {
    cursor: pointer;
    border: 2px solid #7a7a7a;
    border-radius: 25%;
    width: 18px;
    height: 18px;
}


.textBox {
    display: flex;
}

.textBoxWon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.lowerSideContents {
    box-sizing: border-box;
    width: 80%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    height: 270px;
    margin-top: -70px;
    padding: 0 5%;
    display: flex;
    align-items: center;
}

.lowerSideContentsInner {
    width: 100%;
    margin-top: 80px;
}

.alarmDialogues {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 10px;
}

.alarmDialogueSmall {
    font-size: 10px;
    color: gray;
    margin-right: auto;
}

.alarmDialogueBigs {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 20%;
}

.alarmDialogueBig1 {
    font-size: 15px;
    font-weight: bolder;
    width: 40px;
    opacity: 90%;
    margin-right: 25%;
}

.alarmDialogueBig2 {
    font-size: 15px;
    font-weight: bolder;
    width: 40px;
    opacity: 90%;
}

.underLine {
    width: 70%;
    margin: 0;
    padding: 0;
    height: 1px;
    border-bottom: 1px solid gray;
    opacity: 20%;
}

.lowerSideCountry {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.lowerSideTexts {
    display: flex;
    gap: 30px;
    margin-right: auto;
}

.images {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.editImg {
    width: 40px;
    margin-right: 25%;
}

.deleteImg {
    width: 40px;
}


// .country2Modify, .country1Modify, .country3Modify {
//     margin-left: 70%;
//     width: 5%;
// }


// .flag1, .flag2, .flag3 {
//     width: 20px;
//     height: 20px;
// }

.dropdownContainer {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 0 8%;
    color: #201f1f;
    font-weight: 600;
    appearance: none;
    outline: none;
}

.downImg {
    width: 20px;
    position: absolute;
    right: 10%;
    opacity: 30%;
}


  .helpText1 {
    font-size: 15px;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    color: #7F9BED;
    opacity: 80%;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    animation: fadein 1s;
    right: 27%;
    font-weight: bold;
    margin-top: 0;
  }

  .helpText2 {
    font-size: 15px;
    position: absolute;
    background-color: #fff;
    color: #7F9BED;
    opacity: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    right: 27%;
    animation: fadein 1s;
    margin-top: 50px;
    font-weight: bold;
  }
   .helpText3 {
    font-size: 15px;
    position: absolute;
    background-color: #fff;
    color: #7F9BED;
    opacity: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    animation: fadein 1s;
    left: 10%;
    bottom: 58%;
  }
   .helpText4 {
    font-size: 15px;
    animation: fadein 1s;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    color: #7F9BED;
    opacity: 80%;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    right: 10%;
    font-weight: bold;
    bottom: 43%;
  }

  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sliderContainer {
    display: flex;
    justify-content: center;
    width: 80%;
}