.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBar {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100px;
  position: relative;
  background-color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.inactive {
  background-color: #ebebeb;
}

.inactive {
  background-color: #ebebeb;
}

.TabSetting, .BudgetSetting {
  text-align: center;
  padding: 10px 40px 40px 40px;
  width: 70%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 120%;
}

.BudgetSetting {
  padding: 50px 80px 60px 80px;
  width: 40%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 120%;
  right: 0;
}

.BudgetSettingTitle {
  font-size: 1.1rem;
  font-weight: 700;
  color: #4f4f4f;
}

.BudgetSettingInput {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  outline: none;
  width: 80%;
  outline: none;
  background-color: transparent;
  color: #222222;
  opacity: 50%;
  border: 0;
  font-size: 1.1rem;

  &:focus {
    outline: none;
  }
}

.won {
  font-size: 1.7rem;
  position: absolute;
  right: 0;
  opacity: 20%;
  font-weight: 700;
}

.BudgetSettingInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.line {
  display: inline-block;
  width: 80%; 
  height: 3px; 

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #222222;
    opacity: 30%;
    transform: scaleX(0);
    position: absolute;
    transition: transform 250ms ease-in-out;
    bottom: 0;
    left: 0;
    animation: underline-slide 1s ease forwards;
  }
}

@keyframes underline-slide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.BudgetSettingSubtext {
  color: #a5a5a5;
  font-weight: 700;
  font-size: 0.7rem;
}

.TabList {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.TabItem {
  flex: 1;
  padding: 12px 0 0 0;
  text-align: center;
  cursor: pointer;
  transition: opacity 180ms ease-out;
  outline: 0;
  font-weight: 700;
  color: lightgray;
  font-size: 0.9rem;
  &.isActive {
    color: black;
  }
}

.ClickSlideWrapper {
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.ClickSlide {
  width: 14.2857%;
  position: relative;
  bottom: 0;
  height: 2px;
  background-color: #222222;
  transition: 800ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 2;
}

.TabContentContainer{
  width: 100%;
}

.TabContentItem {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  min-width: 70px;
  max-width: 70px;
  background-color: #ebebeb;
  border-radius: 20px;
  font-size: 12px;
  color: #787878;
}

.ContinentBtn, .BudgetBtn {
  border: none;
  box-shadow: 0 1px 8px rgba(127, 154, 237, 0.8);
  background-color: #fff;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #7F9AED;
  margin-top: 8%;
  width: 100%;
  height: 60px;
  &:hover {
    background-color: #7F9AED;
    color: white;
  }
}

.TravelDestinationContainer, .BudgetContainer {
  width: 100%;
  height: 100px;
  border-radius: 50px;
  padding-left: 5%;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background-color: #ebebeb;
  }
}

.clicked {
  background-color: white !important;
}

.inactive {
  background-color: #ebebeb;
}

.TravelDestination {
  font-size: 17px;
  color: #333;
  font-weight: 700;
  
}

.Budget {
  font-size: 17px;
  color: #333;
  font-weight: 700;
}

.TravelDestinationSearch, .BudgetInput {
  font-size: 14px;
  margin-top: -2.5%;
  color: #949494;
}

.underline {
  width: 80%;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-top: 2%;
  padding-bottom: 2%;
}


.SearchImg {
  padding: 0;
  margin: 0;
  width: 12%;
  position: absolute;
  right: 1%;
  &:hover {
    opacity: 0.5;
  }
}
